/* Navigation */

.navbar {
  margin:2rem 0 ;
}

.menu-toggle {
  cursor: pointer;
  display: none; /* Hide on larger screens initially */
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.menu li{
  color: var(--clr-accent-green);
}
.menu li:hover{
  color: var(--clr-primary-purple);
  letter-spacing: .25rem;
}

@media (max-width: 768px) {  /* For screens smaller than 768px */
  .navbar {
    margin:1rem 0 ;
  }
  .menu-toggle {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
  }

  .menu {
    display: none;  /* Hide menu by default on mobile */
  }

  .menu.open {  /* Show menu when isMenuOpen is true */
    display: flex;
    flex-direction: column;
    }
}


/* Hero */
.hero{
  height: 80vh;
  display: flex; /* Use flexbox for centering */
  flex-direction: column;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  text-align: center; /* Optional for additional centering control */
}
.title{
  font-family: "Press Start 2P";
  position: relative;
  color: var(--clr-primary-purple);
  font-size: var(--display-1);
}

.title span{
  position: absolute;
  top: 0;
  left: 0;
  color: var(--clr-accent-green);
  z-index: -1;
  text-align: center;
  transform: translateX(0.5rem);
}

@media (max-width: 768px) {
  .title{
    font-size: 3rem;
  }
}

/* about */
.about{
  padding: 3rem 0;
  margin: 0 20%;
}
.about button{
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .about{
    margin: 0 5%;
  }
}

/* projects */
.projects{
  padding: 3rem 0;
  margin: 0 10%;
}

.project{
  display: flex;
  align-items: start;
  gap: 1rem;
  padding: 2rem 0;
}

.project img{
  /* min-width: 20rem; */
  max-width: 60%; /* Allow proportional scaling */
  flex-grow: 1; /* Fill available space */
  background-color: var(--clr-accent-green);
  padding: 1rem;
}

.info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.buttons{
  display: flex;
  gap:1rem;
}

@media (max-width: 768px) {
 .project{
  flex-direction: column;
  align-items: center;
 }
 .project img{
  min-width: 15rem;
 }
 .tech ul{
  display: flex;
  gap: .8rem;
 }
 .project:nth-child(2){
  flex-direction: column-reverse;
 }
}